@font-face {
  font-family: Aeonik;
  src: url(/fonts/Aeonik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Aeonik;
  src: url(/fonts/Aeonik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Aeonik;
  src: url(/fonts/Aeonik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Aeonik;
  src: url(/fonts/Aeonik-Bold.ttf);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Aeonik";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.textwrapper span {
  margin-left: 10px;
  display: inline-block;
}

.textwrapper span:nth-child(1) {
  margin-left: 0;
}

.textwrapper {
  width: fit-content;
  overflow: hidden;
}

#main {
  border-top: 1px solid transparent;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  position: fixed;
  z-index: 999999999;
  width: 100%;
  top: 0;
  height: 60px;
  color: #fff;
  background-color: transparent;
}

#nav #links {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav #links i {
  display: none;
}

#nav #links a {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

#nav #links #button {
  background-color: transparent;
  border: 1px solid green;
  border-radius: 100px;
  color: #fff;
  padding: 8px 22px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}

#nav #links #button span {
  position: relative;
  z-index: 999;
}

#nav #links #button .opening {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

#nav #links #button:hover {
  color: #000;
  cursor: pointer;
}

#nav #links #button:hover .opening {
  height: 100%;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 10vh;
  color: #fff;
  min-height: 60vh;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 3vw;
  width: 100%;
  color: #fff;
}

.row h1 {
  font-size: 7vw;
}

.rowtxts {
  font-weight: 400;
}

.row #line {
  display: inline-block;
  width: 40%;
  height: 3px;
  margin: 0 20px;
  margin-top: 15px;
  background-color: #fff;
}

#hero .row:nth-child(3) {
  justify-content: flex-end;
}

#hero > p {
  text-transform: uppercase;
  justify-content: flex-end;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0 3vw;
}

#hero > p i {
  margin-left: 5px;
}

#content {
  position: relative;
  z-index: 99999999;
  margin-top: 70vh;
  width: 100%;
}

#video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#desc {
  display: flex;
  align-items: center;
  padding: 4vw;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#desc h1 {
  font-weight: 400;
  font-size: 3vw;
}

#orbital {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  background-color: black;
}

#orbital h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 3vw;
}

#orbital h2 #line {
  display: inline-block;
  width: 80%;
  height: 1px;
  background-color: rgb(73, 73, 73);
}

.rowtxt h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22vw;
  line-height: 20vw;
}

.rowtxt {
  display: flex;
  align-items: center;
}

.rowtxt #capsule {
  border: 1px solid #fff;
  padding: 1vw 1.6vw;
  font-size: 16px;
  border-radius: 100px;
}

#slides {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: red;
}

.slide {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 25%;
  height: 100vh;
  background-color: black;
  border-right: 0.2px solid #444;
}

.tile {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  width: 100%;
}

.tile h3 {
  font-size: 4vw;
  font-weight: 400;
}

.icon {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  margin-top: 10px;
  border: 1px solid #444;
}

.icon i {
  font-size: 1.3vw;
}

#mainarrow {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rightarrow {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  position: absolute;
  top: 150%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.opening {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.slide:hover {
  color: #000;
  cursor: pointer;
}

.slide:hover .icon #mainarrow {
  left: 130%;
}

.slide:hover .icon #rightarrow {
  top: 50%;
  left: 50%;
}

.slide:hover .opening {
  width: 100%;
}

.slide:hover .info {
  bottom: 5%;
  opacity: 1;
  color: #000;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.slide .info {
  color: #fff;
  font-size: 10px;
  position: absolute;
  bottom: -5%;
  opacity: 0;
  padding: 0 20px;
  font-weight: 500;
}

#videoslide {
  position: relative;
  overflow: hidden;
}

.circular {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
}

.circular img {
  animation: ghumteraho 10s linear infinite both;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opener {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 100%;
}

.opener video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#minicircle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: green;
}

#partners {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}

#partners h1 {
  font-weight: 400;
  font-size: 5vw;
  padding: 3vw;
}

.partnerscomp {
  overflow-x: auto;
  display: flex;
  gap: 7vw;
  padding: 0 3vw;
  margin-top: 6vw;
}

.partnerscomp::-webkit-scrollbar {
  display: none;
}

.partnerscomp .partner {
  flex-shrink: 0;
  width: 33%;
}

.partner p {
  margin-top: 4vw;
  font-size: 14px;
}

@keyframes ghumteraho {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#work {
  position: relative;
  width: 100%;
  background-color: #ffff;
}

#fsworksection {
  text-transform: uppercase;
  font-size: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #000;
}

#fsworksection h1 {
  font-weight: 400;
}

.card {
  position: absolute;
  color: #000;
}

.card:nth-child(2) {
  top: 105%;
  left: 5%;
}

.card:nth-child(3) {
  top: 205%;
  left: 35%;
}

.card:nth-child(4) {
  top: 175%;
  left: 70%;
}

.card .photu {
  width: 25vw;
  height: 38vw;
  background-color: red;
}

#footer {
  display: flex;
  width: 100%;
  background-color: #000;
}

#fleft {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw;
  width: 50%;
  border-right: 1px solid #333;
}

#fleft h1 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 4vw !important;
}

#fleft h1 .textwrapper span {
  font-size: 3vw !important;
}

#fleft p .textwrapper span {
  font-size: 2vw;
}

#fleft img {
  margin: 5vw 0;
  width: 60%;
}

#fleft input {
  width: 100%;
  background-color: transparent;
  color: #4444;
  border: none;
  font-size: 1.7vw;
  padding-bottom: 0.6vw;
  border-bottom: 1px solid #333;
}

#fleft button {
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  border: 1px solid #444;
  text-transform: uppercase;
  margin-top: 2vw;
}

#fright {
  width: 50%;
}

#fright a {
  position: relative;
  display: block;
  padding: 2vw 3vw;
  border-bottom: 1px solid #444;
  background-color: #000;
  color: #fff;
  font-family: "Aeonik";
  font-weight: 300;
  text-decoration: none;
  font-size: 3vw;
}

#fright small {
  display: block;
  padding: 3vw 0;
  text-align: center;
}

#fright a:nth-child(1) {
  border-top: 1px solid #444;
}

#footer .opening {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0px;
  background-color: #fff;
}

#fright a:hover .opening {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  height: 100%;
}

#fright a:hover {
  color: #000;
}

#fright a span {
  position: relative;
  z-index: 999;
}

/* responsive code */
@media (max-width: 500px) {
  body {
    background-color: #000;
  }

  #nav {
    padding: 0 5vw;
  }

  #nav #links a {
    display: none;
  }

  #nav #links i {
    display: initial;
  }

  #hero {
    padding-top: 0;
    min-height: 50vh;
  }

  #content {
    margin-top: 50vh;
  }

  #desc {
    height: initial;
    padding: 10vh 4vw;
  }

  #desc h1 {
    font-size: 6vw;
  }

  #orbital {
    padding: 10vh 4vw;
    height: initial;
  }

  #orbital h2 {
    font-size: 5vw;
  }

  #orbital h2 #line {
    width: 65%;
  }

  .rowtxt {
    justify-content: space-between;
  }

  .rowtxt #capsule {
    padding: 2.7vw 2.6vw;
    font-size: 3.5vw;
  }

  .rowtxt h1 {
    font-size: 17vw;
  }

  #orbitalvideo {
    height: 50vh;
  }

  #orbitalvideo video {
    width: 100%;
  }

  #slides {
    height: initial;
    flex-direction: column;
  }

  .slide {
    height: initial;
    width: 100%;
    padding: 7vh 2vw;
    border-right: initial;
    border-bottom: 1px solid #444;
  }

  .slide .info {
    padding: 0 2vw;
  }

  .slide:hover .info {
    padding: 0 2vw;
    bottom: 15%;
  }

  .slide .opening {
    width: 100%;
    height: 0;
  }

  .slide:hover .opening {
    height: 100%;
  }

  #slides #videoslide {
    display: none;
  }

  #partners {
    padding: 8vw 0;
    min-height: initial;
  }

  #partners h1 {
    padding: 0vw 3vw;
    font-size: 10vw;
    margin-bottom: 10vw;
  }

  #partners .partner {
    width: 55%;
  }

  #work {
    overflow: hidden;
  }

  .card .photu {
    width: 45vw;
    height: 58vw;
  }

  .card:nth-child(4) {
    left: 46%;
  }

  #footer {
    flex-direction: column;
  }

  #fleft {
    width: 100%;
  }

  #fright {
    width: 100%;
  }

  #fright a {
    font-size: 4.5vw;
    padding: 3vw 4vw;
  }

  #fright small {
    padding: 6vw;
  }
}
